<style type="text/css">
     .detail-title{
      font-weight: 600;
    }
    .detail-infor{
      color:#888888;
    }
    .article-content *{
      font-size:16px!important;
      text-indent: 2em;
    }
</style>
<div class="tab-pane fade active in" id="one">
    <div class="row">
        <div class="col-sm-9">
             <div class="detail-box">
                <div class="text-center">
                    <h2 class="detail-title">场地申请流程图</h2>
                    <div class="detail-infor">
                        <span>发布者：仲恺计科 </span>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <span>发布日期：2020-05-01 08:00:00</span>
                    </div>
                </div>
                &nbsp;
                <div id="article_content text-left" style="font-size:16px!important;">
                   <img src="__CDN__/assets/img/operation.png" alt="流程图" style="max-height: 100%;max-width: 100%;">
                </div>
            </div>
        </div>

        <div class="col-sm-3">
              <div class="box box-success" style="box-shadow: 0px 1px 8px 1px #eaeaea;">
                  <div class="box-header" style="padding: 15px 10px 5px 10px;">
                     <h3 class="box-title" style="padding-left:10px;">{:__('Recent repair')}</h3>
                     <div class="box-tools pull-right">
                          <!-- <a href="service/repair" class="btn btn-box-tool">{:__('More')}</a> -->
                      </div>
                  </div>
                  <div class="box-body" id="latest_repair">

                  </div>
              </div>
          </div>
        
    </div>
 
 

</div>