<!-- Logo -->
<a href="javascript:;" class="logo">
    <!-- 迷你模式下Logo的大小为50X50 -->
    <span class="logo-mini">{$site.name|mb_substr=0,4,'utf-8'|mb_strtoupper='utf-8'}</span>
    <!-- 普通模式下Logo -->
    <span class="logo-lg" style="font-size:18px;">{$site.name|mb_substr=0,4,'utf-8'}{$site.name|mb_substr=4,null,'utf-8'}</span>
</a>
<!-- 顶部通栏样式 -->
<nav class="navbar navbar-static-top">
    <!-- 边栏切换按钮-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">{:__('Toggle navigation')}</span>
    </a>

    <div id="nav" class="pull-left">
        <!--如果不想在顶部显示角标,则给ul加上disable-top-badge类即可-->
        <ul class="nav nav-tabs nav-addtabs" role="tablist">
        </ul>
    </div>

    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            <li>
                <a href="javascript:;"><span>{:date('Y年m月d日 ')}{:__(date('星期w'))}</span></a>
                <!-- :date('Y年m月d日')+ -->
            </li>

            <!-- <li>
                <a href="{:url('index/login')}" target="_blank" title="{:__('Frontend home')}"><i class="fa fa-home" style="font-size:14px;"></i></a>
            </li> -->

            <li class="hidden">
                <a href="javascript:;" data-toggle="wipecache" title="{:__('Wipe cache')}">
                    <i class="fa fa-trash"></i>
                </a>
            </li>

            <!-- 账号信息下拉框 -->
            <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="__CDN__{$admin.avatar}" class="user-image" alt="{$admin.nickname}">
                    <span class="hidden-xs">{$admin.nickname}</span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <!-- User image -->
                    <li class="user-header">
                        <img src="__CDN__{$admin.avatar}" class="img-circle" alt="">

                        <p>
                            {$admin.nickname}
                            <small>{$admin.logintime|date="Y-m-d H:i:s",###}</small>
                        </p>
                    </li>
                    <hr style="margin-bottom:0px;"/>
                    <!-- Menu Footer-->
                    <li class="user-footer">
                        <div class="pull-left">
                            <a href="general/profile" class="btn btn-primary addtabsit"><i class="fa fa-user"></i> {:__('Profile')}</a>
                        </div>
                        <div class="pull-right">
                            <a href="{:url('index/logout')}" class="btn btn-danger"><i class="fa fa-sign-out"></i> {:__('Logout')}</a>
                        </div>
                    </li>
                </ul>
                <!-- <ul class="dropdown-menu" style="margin-top:5px; background-color: #16a98c;">
                    <li>
                      <a href="general/profile" class="btn addtabsit pull-left" style="color: #fff;">
                        <i class="fa fa-user"></i> 
                        {:__('Profile')}
                      </a>
                    </li>
                    <li>
                        <a href="{:url('index/logout')}" class="btn pull-left" style="color: #fff;">
                          <i class="fa fa-sign-out"></i> 
                          {:__('Logout')}
                        </a>
                        
                    </li>
                </ul> -->
            </li>
        </ul>
    </div>
</nav>